html, body {
  height: 100%;
  margin: 0;
}

@import "partials/fonts";

#about-banner {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.about-intros {
  margin-top: 20px;
}

#author-section {
  //margin-left: px;
  //color: rgba(229, 155, 33, 0.3);
  //margin-top: 100px;
}

#about-title {
  text-align: center;
  font-family: 'Prata', serif;
  font-size: 3em;
  margin-bottom: 50px;
}

.arrow-logo {
  text-align: right;
}

.contact-logo {
  text-align: center;
  margin-bottom: 50px;

  .img-responsive {
    max-width: calc(30% / 4);
    display: inline-block;

  }

}

.carousel-indicators li {
  background-color: #c53f56;
  border-color: transparent;
}

#contact-card {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: white;
  border-radius: 10px;
}

#contact-card-info {
  padding: 5px;

}

.first-letter {
  font-size: 4em;
  text-indent: 20px;
}

hr {
  border-style: inset;
  border-width: 1px;
}

#header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 10)), url("../images/apple-1868510_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  margin-top: -20px;
  background-attachment: fixed;

}

.intro-text {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;

  h4 {
    line-height: 150%;
    text-indent: 30px;
  }

}

.jumbotron {
  padding-top: 5%;
  padding-bottom: 10px;
  margin-bottom: 0;

}

.logo {
  padding: 0;
  //width: auto;
}


.navigation {
  margin-top: 15%;
  text-align: center;
  a {
    text-decoration: none;
    font-size: 2em;
    color: white;
  }
}

.projects {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: gainsboro;

  padding: 0;
  margin-top: 40px;
  //margin: 20px;

  img:hover {
    opacity: 0.3;

  }

  .img-responsive {
    //max-width: calc(100%/1);
    //display: inline-block;
    //height: 100px;

  }

  .project-sbheader {
    text-align: center;

    h2 {
      margin: 0;
    }

  }
}

#portfolio-banner {
  background-color: white;
  padding-top: 5%;
  //padding-bottom: 5%;
  //margin-bottom: 20%;

  padding-bottom: 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url("../images/computer-1245714_1920.jpg");
  background-position: center;
  background-attachment: fixed;
}

.portfolio-title {
  text-align: center;
  padding-bottom: 5%;
  font-family: 'Prata', serif;
  color: white;
}



.timeline {
  border-left: 2px black solid;
}

.type-writer {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 20%;
  font-family: 'Prata', serif;

}

#up-arrow {
  max-width: calc(80% / 10);
  display: inline-block;
  text-align: center;
}


/*--------------------- @ Media Queries----------------*/

@media (max-width: 980px) and (min-width: 760px) {
  #header-banner {
    background-position: center;
    height: 30%;
  }
}


/*--------------------------Sticky Footer--------------------*/
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}