html, body {
  height: 100%;
  margin: 0;
}

@import "partials/fonts";

.contact-logo {
  text-align: center;
  margin-bottom: 50px;

  .img-responsive {
    max-width: calc(30% / 4);
    display: inline-block;
  }



  .logo {
    padding: 0;
    //width: auto;
  }
}

.timeline{
  border-left: 2px black solid;
}

#author-section {
  margin-left: 20px;
  color: rgba(229, 155, 33, 0.3);
  //margin-top: 100px;
}

.carousel-indicators li{
  background-color: #0065ba;
  border-color: transparent;
}

#about-title {
  text-align: center;
  //font-family: 'Just Another Hand', cursive;
  font-family: 'Prata', serif;
  font-size: 3em;
  //color: white;
  margin-bottom: 50px;
}

hr {
  border-style: inset;
  border-width: 1px;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/abstract-1779544_1920.png");
  padding-top: 5%;
  padding-bottom: 10px;
  margin-bottom: 0;

}

#contact-card{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: white;
  border-radius: 10px;
}

#contact-card-info{
 padding: 5px;

}

#header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 10)), url("../images/apple-1868510_1920.jpg");
  background-position: center;
  height: 100%;
  margin-top: -20px;
  background-attachment: fixed;

}

.intro-text {
  text-align: center;
  //font-family: 'Pavanam', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;

  //float: left;
  //color: white;

  h4{
    line-height: 150%;
    text-indent: 30px;
  }




}

.first-letter{
  font-size: 4em;
  text-indent: 20px;
}

.about-intros{
  margin-top: 20px;
}



.projects {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: gainsboro;

  padding: 0;
  margin-top: 40px;
  //margin: 20px;

  img:hover {
    opacity: 0.3;

  }

  .img-responsive {
    //max-width: calc(100%/1);
    //display: inline-block;
    //height: 100px;

  }

  .project-sbheader {
    text-align: center;

    h2 {
      margin: 0;
    }

  }
}

#portfolio-banner {
  background-color: white;
  padding-top: 5%;
  //padding-bottom: 5%;
  margin-bottom: 20%;
}

.portfolio-title {
  text-align: center;
  padding-bottom: 5%;
  font-family: 'Prata', serif;
}

.navigation {
  margin-top: 15%;
  text-align: center;

  a {
    margin-left: 100px;
    margin-right: 100px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: white;
  }
}

.type-writer {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 20%;
  font-family: 'Prata', serif;

}

#about-banner {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  //background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/code-1839406_1920.jpg");
  //background-position: center;
}

/*--------------------- @ Media Queries----------------*/

@media only screen and (max-width: 980px) {
  #header-banner {
    background-position: center;
    height: 70%;
  }
}

@media only screen and (max-width: 760px) {

  #header-banner {
    background-position: center;
    height: 60%;
  }

  #navigation {
    //margin-top: 15%;
    //text-align: center;

    a {
      //margin-left: 100px;
      //margin-right: 100px;
      //text-decoration: none;
      //font-family: 'Quicksand', sans-serif;
      font-size: 2em;
      //color: white;
    }
  }

  .type-writer {
    font-size: 2em;
  }

}

@media screen and (max-width: 480px) {

  #header-banner {
    background-position: center;
    height: 10%;

  }

  #navigation {
    //margin-top: 15%;
    //text-align: center;

    a {
      //margin-left: 100px;
      //margin-right: 100px;
      //text-decoration: none;
      //font-family: 'Quicksand', sans-serif;
      font-size: 1em;
      //color: white;
    }
  }

}

/*--------------------------Sticky Footer--------------------*/
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}